body {
  background-color: #fb8500;
  color: #07708a;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  border-bottom-width: 10px;
  color: #023047;
  border-color: #023047;
  border-style: solid;
  margin-bottom: 15px;
}

.main-header a {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #023047;
  margin-right: auto;
  padding-left: 20px;
}

.main-header h1 {
  font-family: 'Lobster', cursive;
  font-size: xx-large;
  font-weight: 900;
  font-variant: small-caps;
  text-align: center;
}

.main-header img {
  margin-left: auto;
  max-width: 200px;
  padding-right:20px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.about h2 {
  font-size: larger;
  font-weight: bolder;
  font-variant: small-caps;
}

.about p {
  width: 500px;
}

.about img {
  width: 500px;
}

.seattle {
  display: flex;
  align-items: center;
  margin: 25px;
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
}

.seattle img {
  height: 175px;
  padding: 20px;
}

.seattle div {
  margin-left: auto;
  margin-right: 50px;
}

.seattle div h3 {
  font-size: large;
  font-weight: bold;
  font-variant: small-caps;
}

#seattle-hours {
  font-variant: small-caps;
  font-weight: bold;
}

.tokyo {
  display: flex;
  align-items: center;
  margin: 25px;
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
}

.tokyo div {
  margin-left: 50px;
}

.tokyo div h3 {
  font-size: large;
  font-weight: bold;
  font-variant: small-caps;
}

#tokyo-hours {
  font-variant: small-caps;
  font-weight: bold;
}

.tokyo img {
  height: 175px;
  margin-left: auto;
  padding: 20px;
}

.dubai {
  display: flex;
  align-items: center;
  margin: 25px;
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
}

.dubai img {
  height: 175px;
  padding: 20px;
}

.dubai div {
  margin-left: auto;
  margin-right: 50px;
}

.dubai div h3 {
  font-size: large;
  font-weight: bold;
  font-variant: small-caps;
}

#dubai-hours {
  font-variant: small-caps;
  font-weight: bold;
}

.paris {
  display: flex;
  align-items: center;
  margin: 25px;
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
}

.paris div {
  margin-left: 50px;
}

.paris div h3 {
  font-size: large;
  font-weight: bold;
  font-variant: small-caps;
}

#paris-hours {
  font-variant: small-caps;
  font-weight: bold;
}

.paris img {
  height: 175px;
  margin-left: auto;
  padding: 20px;
}

.lima {
  display: flex;
  align-items: center;
  margin: 25px;
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
}

.lima img {
  height: 175px;
  padding: 20px;
}

.lima div {
  margin-left: auto;
  margin-right: 50px;
}

.lima div h3 {
  font-size: large;
  font-weight: bold;
  font-variant: small-caps;
}

#lima-hours {
  font-variant: small-caps;
  font-weight: bold;
}

table, th, td {
  border: 1px solid;
}

.stores {
  font-family: Arial, Helvetica, sans-serif;
  color: #8ecae6;
  background-color: #fb5c00;
}

footer {
  margin: 10px;
  height: 50px;
}

footer a {
  margin-bottom: 10px;
  text-decoration: none;
  color: #07708a;
}

#link-home {
  color: #8ecae6;
}